# 00.Data Extraction

In [4]:
import pandas as pd
import numpy as np
df = pd.read_excel('../Data/Precios_Coomproriente_05_06_25.xlsx')
df.head(10)

             Producto    Precio           Cantidad      Fecha         Origen
0  Aguacate Papelillo  $ 10.000  Kilogramo - 50 Kg 2025-04-03  Coomproriente
1  Aguacate Papelillo  $ 10.000  Kilogramo - 50 Kg 2025-04-07  Coomproriente
2  Aguacate Papelillo  $ 10.000  Kilogramo - 50 Kg 2025-04-09  Coomproriente
3  Aguacate Papelillo  $ 11.000  Kilogramo - 50 Kg 2025-04-10  Coomproriente
4  Aguacate Papelillo  $ 10.000  Kilogramo - 50 Kg 2025-04-14  Coomproriente
5  Aguacate Papelillo  $ 10.000  Kilogramo - 50 Kg 2025-04-14  Coomproriente
6  Aguacate Papelillo   $ 9.000  Kilogramo - 50 Kg 2025-04-21  Coomproriente
7  Aguacate Papelillo  $ 10.000  Kilogramo - 50 Kg 2025-04-23  Coomproriente
8  Aguacate Papelillo  $ 10.000  Kilogramo - 50 Kg 2025-04-24  Coomproriente
9  Aguacate Papelillo  $ 10.000  Kilogramo - 50 Kg 2025-04-28  Coomproriente

In [55]:
df_context = pd.read_excel('../Data/SIPSADiario/anex-SIPSADiario-01abr2025.xlsx')
df_context.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,Martes 1 de abril de 2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Precio $/Kg,"Armenia, Mercar",NaN,"Bogotá, Corabastos",NaN,"Bucaramanga, Centroabastos",NaN,"Cali, Santa Elena",NaN,"Cúcuta, Cenabastos",...,"Medellín,\nCMA",NaN,"Neiva, Surabastos",NaN,"Pereira, \nLa 41",NaN,Santa Marta,NaN,Tunja,NaN
2,NaN,Precio,Var %,Precio,Var %,Precio,Var %,Precio,Var %,Precio,...,Precio,Var %,Precio,Var %,Precio,Var %,Precio,Var %,Precio,Var %
3,Hortalizas y verduras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ahuyama,967,0,1613,0.02,1167,0,1075,-0.07,1542,...,900,0,n.d.,n.d.,1400,-0.05,n.d.,n.d.,938,-0.03
5,Arveja verde en vaina,6133,-0.06,8167,n.d.,7133,0.08,7467,0.09,10583,...,6625,-0.04,8000,0.25,7000,0.06,n.d.,n.d.,6767,0.03
6,Cebolla cabezona blanca,1467,-0.06,1488,0.23,1400,-0.02,1406,0,1300,...,1615,0.02,n.d.,n.d.,1680,-0.07,1620,0,1233,0.07
7,Cebolla junca,2095,0,2938,-0.12,2344,0.15,2222,0,2344,...,2550,-0.01,3056,0.22,1756,0.14,n.d.,n.d.,1958,0.07
8,Chócolo mazorca,1000,0,2500,0.04,1493,0,1429,0,1924,...,2125,n.d.,1227,0,n.d.,n.d.,n.d.,n.d.,1625,0.2
9,Fríjol verde*,5920,-0.08,6950,0.05,7000,0.14,5333,-0.02,n.d.,...,4388,-0.04,5467,0.14,n.d.,n.d.,n.d.,n.d.,5467,0.01

In [118]:
import pandas as pd
from datetime import datetime
import locale
import os

# Configurar locale español
try:
    locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')  # Linux/Mac
except:
    locale.setlocale(locale.LC_TIME, 'Spanish_Spain.1252')  # Windows fallback

carpeta = '../Data/SIPSADiario/'

dataframes = []
contador=0
for archivo in os.listdir(carpeta):
    if archivo.endswith('.xlsx'):
        ruta = os.path.join(carpeta, archivo)
        print(f'Procesando {archivo}...')

        # Leer Excel
        df = pd.read_excel(ruta)

        # Extraer fecha de la primera celda y formatear
        raw_fecha = df.iloc[0, 0]

        if isinstance(raw_fecha, str):
            raw_fecha = raw_fecha.replace(" de ", " ")  # Quita " de "
            raw_fecha = " ".join(raw_fecha.split()[1:])  # Quita día de la semana, ej: "Miércoles"
    
            partes = raw_fecha.split()
        if len(partes[0]) == 1:
            partes[0] = '0' + partes[0]  # Día con cero si es uno solo dígito
    
            raw_fecha = " ".join(partes)

        fecha_obj = datetime.strptime(raw_fecha, "%d %B %Y")



        # Eliminar filas encabezado no útiles (0 a 3)
        df = df.drop(index=range(0, 4)).reset_index(drop=True)

        # Añadir columna fecha
        df['fecha'] = fecha_obj

        # Guardar DataFrame en la lista
        dataframes.append(df)
        contador+= 1
        print(contador)
        

# Concatenar todos los DataFrames
df_total = pd.concat(dataframes, ignore_index=True)

print("Concatenación completada.")

Procesando anex-SIPSADiario-01abr2025.xlsx...
1
Procesando anex-SIPSADiario-01nov2024.xlsx...
2
Procesando anex-SIPSADiario-01oct2024.xlsx...
3
Procesando anex-SIPSADiario-02abr2025.xlsx...
4
Procesando anex-SIPSADiario-02dic2024.xlsx...
5
Procesando anex-SIPSADiario-02jul2024.xlsx...
6
Procesando anex-SIPSADiario-02may2025.xlsx...
7
Procesando anex-SIPSADiario-02oct2024.xlsx...
8
Procesando anex-SIPSADiario-03abr2025.xlsx...
9
Procesando anex-SIPSADiario-03dic2024.xlsx...
10
Procesando anex-SIPSADiario-03jul2024.xlsx...
11
Procesando anex-SIPSADiario-03jun2025.xlsx...
12
Procesando anex-SIPSADiario-03mar2025.xlsx...
13
Procesando anex-SIPSADiario-03oct2024.xlsx...
14
Procesando anex-SIPSADiario-04abr2025.xlsx...
15
Procesando anex-SIPSADiario-04dic2024.xlsx...
16
Procesando anex-SIPSADiario-04jul2024.xlsx...
17
Procesando anex-SIPSADiario-04jun2025.xlsx...
18
Procesando anex-SIPSADiario-04mar2025.xlsx...
19
Procesando anex-SIPSADiario-04oct2024.xlsx...
20
Procesando anex-SIPSADiario-05dic2024.xlsx...
21
Procesando anex-SIPSADiario-05jul2024.xlsx...
22
Procesando anex-SIPSADiario-05jun2025.xlsx...
23
Procesando anex-SIPSADiario-05mar2025.xlsx...
24
Procesando anex-SIPSADiario-05may2025.xlsx...
25
Procesando anex-SIPSADiario-05nov2024.xlsx...
26
Procesando anex-SIPSADiario-06dic2024.xlsx...
27
Procesando anex-SIPSADiario-06mar2025.xlsx...
28
Procesando anex-SIPSADiario-06may2025.xlsx...
29
Procesando anex-SIPSADiario-06nov2024.xlsx...
30
Procesando anex-SIPSADiario-07abr2025.xlsx...
31
Procesando anex-SIPSADiario-07mar2025.xlsx...
32
Procesando anex-SIPSADiario-07may2025.xlsx...
33
Procesando anex-SIPSADiario-07nov2024.xlsx...
34
Procesando anex-SIPSADiario-07oct2024.xlsx...
35
Procesando anex-SIPSADiario-08abr2025.xlsx...
36
Procesando anex-SIPSADiario-08jul2024.xlsx...
37
Procesando anex-SIPSADiario-08may2025.xlsx...
38
Procesando anex-SIPSADiario-08nov2024.xlsx...
39
Procesando anex-SIPSADiario-08oct2024.xlsx...
40
Procesando anex-SIPSADiario-09abr2025.xlsx...
41
Procesando anex-SIPSADiario-09dic2024.xlsx...
42
Procesando anex-SIPSADiario-09jul2024.xlsx...
43
Procesando anex-SIPSADiario-09may2025.xlsx...
44
Procesando anex-SIPSADiario-09oct2024.xlsx...
45
Procesando anex-SIPSADiario-10abr2025.xlsx...
46
Procesando anex-SIPSADiario-10dic2024.xlsx...
47
Procesando anex-SIPSADiario-10ene2025.xlsx...
48
Procesando anex-SIPSADiario-10feb2025.xlsx...
49
Procesando anex-SIPSADiario-10jul2024.xlsx...
50
Procesando anex-SIPSADiario-10mar2025.xlsx...
51
Procesando anex-SIPSADiario-10oct2024.xlsx...
52
Procesando anex-SIPSADiario-10sep2024.xlsx...
53
Procesando anex-SIPSADiario-11abr2025.xlsx...
54
Procesando anex-SIPSADiario-11dic2024.xlsx...
55
Procesando anex-SIPSADiario-11feb2025.xlsx...
56
Procesando anex-SIPSADiario-11jul2024.xlsx...
57
Procesando anex-SIPSADiario-11mar2025.xlsx...
58
Procesando anex-SIPSADiario-11oct2024.xlsx...
59
Procesando anex-SIPSADiario-11sep2024.xlsx...
60
Procesando anex-SIPSADiario-12ago2024.xlsx...
61
Procesando anex-SIPSADiario-12dic2024.xlsx...
62
Procesando anex-SIPSADiario-12feb2025.xlsx...
63
Procesando anex-SIPSADiario-12jul2024.xlsx...
64
Procesando anex-SIPSADiario-12mar2025.xlsx...
65
Procesando anex-SIPSADiario-12may2025.xlsx...
66
Procesando anex-SIPSADiario-12nov2024.xlsx...
67
Procesando anex-SIPSADiario-12sep2024.xlsx...
68
Procesando anex-SIPSADiario-13ago2024.xlsx...
69
Procesando anex-SIPSADiario-13dic2024.xlsx...
70
Procesando anex-SIPSADiario-13ene2025.xlsx...
71
Procesando anex-SIPSADiario-13feb2025.xlsx...
72
Procesando anex-SIPSADiario-13mar2025.xlsx...
73
Procesando anex-SIPSADiario-13may2025.xlsx...
74
Procesando anex-SIPSADiario-13nov2024.xlsx...
75
Procesando anex-SIPSADiario-13sep2024.xlsx...
76
Procesando anex-SIPSADiario-14abr2025.xlsx...
77
Procesando anex-SIPSADiario-14ago2024.xlsx...
78
Procesando anex-SIPSADiario-14ene2025.xlsx...
79
Procesando anex-SIPSADiario-14feb2025.xlsx...
80
Procesando anex-SIPSADiario-14mar2025.xlsx...
81
Procesando anex-SIPSADiario-14may2025.xlsx...
82
Procesando anex-SIPSADiario-14nov2024.xlsx...
83
Procesando anex-SIPSADiario-15abr2025.xlsx...
84
Procesando anex-SIPSADiario-15ago2024.xlsx...
85
Procesando anex-SIPSADiario-15ene2025.xlsx...

TypeError: strptime() argument 1 must be str, not float

In [119]:
# Concatenar todos los DataFrames
df_total = pd.concat(dataframes, ignore_index=True)
df_total

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,Ahuyama,967,0,1613,0.02,1167,0,1075,-0.07,1542,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arveja verde en vaina,6133,-0.06,8167,n.d.,7133,0.08,7467,0.09,10583,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cebolla cabezona blanca,1467,-0.06,1488,0.23,1400,-0.02,1406,0,1300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Cebolla junca,2095,0,2938,-0.12,2344,0.15,2222,0,2344,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Chócolo mazorca,1000,0,2500,0.04,1493,0,1429,0,1924,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3482,Plátano hartón verde,1433,-0.09,2050,0,2740,0.01,1800,0.02,2383,...,2000,0.07,1533,0.01,1967,-0.03,NaN,NaN,NaN,NaN
3483,Yuca*,960,0,1958,-0.01,1643,-0.01,n.d.,n.d.,1467,...,1080,0.08,n.d.,n.d.,n.d.,n.d.,NaN,NaN,NaN,NaN
3484,*Variedad predominante en el mercado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3485,Var%: Variación porcentual con respecto al pro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3486,n.d. : no disponible,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
df_total.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,Ahuyama,967,0,1613,0.02,1167,0,1075,-0.07,1542,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arveja verde en vaina,6133,-0.06,8167,n.d.,7133,0.08,7467,0.09,10583,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cebolla cabezona blanca,1467,-0.06,1488,0.23,1400,-0.02,1406,0,1300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Cebolla junca,2095,0,2938,-0.12,2344,0.15,2222,0,2344,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Chócolo mazorca,1000,0,2500,0.04,1493,0,1429,0,1924,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = df.rename(columns={
    "Unnamed: 0": "Producto",
    "Unnamed: 1": "Armenia_Mercar_Precio",
    "Unnamed: 2": "Armenia_Mercar_Var%",
    "Unnamed: 3": "Bogotá_Corabastos_Precio",
    "Unnamed: 4": "Bogotá_Corabastos_Var%",
    "Unnamed: 5": "Bucaramanga_Centroabastos_Precio",
    "Unnamed: 6": "Bucaramanga_Centroabastos_Var%",
    "Unnamed: 7": "Cali_Cavasa_Precio",
    "Unnamed: 8": "Cali_Cavasa_Var%",
    "Unnamed: 9": "Cúcuta_Cenabastos_Precio",
    "Unnamed: 10": "Cúcuta_Cenabastos_Var%",
    "Unnamed: 11": "Ibagué_PlazaLa21_Precio",
    "Unnamed: 12": "Ibagué_PlazaLa21_Var%",
    "Unnamed: 13": "Manizales_CentroGalerías_Precio",
    "Unnamed: 14": "Manizales_CentroGalerías_Var%",
    "Unnamed: 15": "Medellín_CMA_Precio",
    "Unnamed: 16": "Medellín_CMA_Var%",
    "Unnamed: 17": "Neiva_Surabastos_Precio",
    "Unnamed: 18": "Neiva_Surabastos_Var%",
    "Unnamed: 19": "Pasto_ElPotrerillo_Precio",
    "Unnamed: 20": "Pasto_ElPotrerillo_Var%",
    "Unnamed: 21": "Pereira_La41_Precio",
    "Unnamed: 22": "Pereira_La41_Var%",
    "fecha": "Fecha"
})

# Mostrar primeras filas
df.head()

In [104]:
import re
meses = {
    'ene': 1, 'feb': 2, 'mar': 3, 'abr': 4, 'may': 5, 'jun': 6,
    'jul': 7, 'ago': 8, 'sep': 9, 'oct': 10, 'nov': 11, 'dic': 12
}
def extraer_fecha(raw_fecha, nombre_archivo):
    # Primero intentamos el formato largo con día de la semana y mes completo
    try:
        return datetime.strptime(raw_fecha, "%A %d %B %Y")
    except:
        pass
    
    # Intentar extraer fecha desde el nombre del archivo con formato ddmmmyyyy, ej: 02abr2025
    match = re.search(r'(\d{2})([a-z]{3})(\d{4})', nombre_archivo.lower())
    if match:
        dia = int(match.group(1))
        mes_str = match.group(2)
        anio = int(match.group(3))
        mes = meses.get(mes_str)
        if mes:
            return datetime(anio, mes, dia)
    
    # Si no pudo extraer fecha válida, retorna None
    return None

In [106]:
import pandas as pd
from datetime import datetime
import locale
import os

# Configurar locale en español
try:
    locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')  # Linux/Mac
except:
    locale.setlocale(locale.LC_TIME, 'Spanish_Spain.1252')  # Windows fallback

# Ruta de la carpeta con archivos
carpeta = '../Data/SIPSADiario/'

# Columnas renombradas
column_rename_map = {
    "Unnamed: 0": "Producto",
    "Unnamed: 1": "Armenia_Mercar_Precio",
    "Unnamed: 2": "Armenia_Mercar_Var%",
    "Unnamed: 3": "Bogotá_Corabastos_Precio",
    "Unnamed: 4": "Bogotá_Corabastos_Var%",
    "Unnamed: 5": "Bucaramanga_Centroabastos_Precio",
    "Unnamed: 6": "Bucaramanga_Centroabastos_Var%",
    "Unnamed: 7": "Cali_Cavasa_Precio",
    "Unnamed: 8": "Cali_Cavasa_Var%",
    "Unnamed: 9": "Cúcuta_Cenabastos_Precio",
    "Unnamed: 10": "Cúcuta_Cenabastos_Var%",
    "Unnamed: 11": "Ibagué_PlazaLa21_Precio",
    "Unnamed: 12": "Ibagué_PlazaLa21_Var%",
    "Unnamed: 13": "Manizales_CentroGalerías_Precio",
    "Unnamed: 14": "Manizales_CentroGalerías_Var%",
    "Unnamed: 15": "Medellín_CMA_Precio",
    "Unnamed: 16": "Medellín_CMA_Var%",
    "Unnamed: 17": "Neiva_Surabastos_Precio",
    "Unnamed: 18": "Neiva_Surabastos_Var%",
    "Unnamed: 19": "Pasto_ElPotrerillo_Precio",
    "Unnamed: 20": "Pasto_ElPotrerillo_Var%",
    "Unnamed: 21": "Pereira_La41_Precio",
    "Unnamed: 22": "Pereira_La41_Var%",
    "fecha": "Fecha"
}

# Lista para guardar todos los DataFrames procesados
dataframes = []

# Recorrer todos los archivos Excel en la carpeta
for archivo in os.listdir(carpeta):
    if archivo.endswith(".xlsx"):
        ruta = os.path.join(carpeta, archivo)
        df = pd.read_excel(ruta)

        # Extraer y formatear la fecha del primer valor
        raw_fecha = df.iloc[0, 0]
        if isinstance(raw_fecha, str):
            raw_fecha = raw_fecha.replace(" de ", " ")
            fecha_obj = extraer_fecha(raw_fecha, archivo)
        if fecha_obj is None:
            print(f"Formato de fecha inválido en {archivo}, se omite.")
        continue

        # Limpiar y renombrar columnas
        df = df.drop(index=range(0, 4)).reset_index(drop=True)
        df['fecha'] = fecha_obj
        df = df.rename(columns=column_rename_map)

        # Agregar al conjunto final
        dataframes.append(df)

# Concatenar todo en un solo DataFrame
df_total = pd.concat(dataframes, ignore_index=True)

# Mostrar un resumen
print(f"Archivos procesados: {len(dataframes)}")
print(df_total.head())

Formato de fecha inválido en anex-SIPSADiario-4sep2024.xlsx, se omite.
Formato de fecha inválido en anex-SIPSADiario-5feb2025.xlsx, se omite.
Formato de fecha inválido en anex-SIPSADiario-8ene2025.xlsx, se omite.

ValueError: No objects to concatenate