In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\dairo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\dairo\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: C:\Users\dairo\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd

df_coomproriente = pd.read_excel('../Data/Precios_Coomproriente_limpio.xlsx')
df_coomproriente.head()

,Producto,Precio,Cantidad,Fecha,Origen,Kg,Precio_por_kg,Mercado
0,Aguacate Papelillo,10000.0,Kilogramo - 1 Kg,2025-04-03,Coomproriente,1,10000.0,Sogamoso
1,Aguacate Papelillo,10000.0,Kilogramo - 1 Kg,2025-04-07,Coomproriente,1,10000.0,Sogamoso
2,Aguacate Papelillo,10000.0,Kilogramo - 1 Kg,2025-04-09,Coomproriente,1,10000.0,Sogamoso
3,Aguacate Papelillo,11000.0,Kilogramo - 1 Kg,2025-04-10,Coomproriente,1,11000.0,Sogamoso
4,Aguacate Papelillo,10000.0,Kilogramo - 1 Kg,2025-04-14,Coomproriente,1,10000.0,Sogamoso

In [2]:
df_agronet = pd.read_excel('../Data/datos_agronet_limpio.xlsx')
df_agronet.head()

,Mercado,Producto,Fecha,Precio $/KG,Fecha_limpia,Fecha_dt
0,Bogot치,Aguacate papelillo,"Viernes, Julio 15 de 2005",2200.0,July 15 2005,2005-07-15
1,Bogot치,Aguacate papelillo,"Viernes, Julio 22 de 2005",2340.0,July 22 2005,2005-07-22
2,Bogot치,Aguacate papelillo,"Viernes, Julio 29 de 2005",2355.0,July 29 2005,2005-07-29
3,Bogot치,Aguacate papelillo,"Viernes, Agosto 5 de 2005",2410.0,August 5 2005,2005-08-05
4,Bogot치,Aguacate papelillo,"Viernes, Agosto 12 de 2005",2410.0,August 12 2005,2005-08-12

In [3]:
df_coomproriente.shape  # Cantidad de filas y columnas
df_coomproriente.columns  # Nombres de las columnas
df_coomproriente.dtypes  # Tipos de datos de cada columna

Producto                 object
Precio                  float64
Cantidad                 object
Fecha            datetime64[ns]
Origen                   object
Kg                        int64
Precio_por_kg           float64
Mercado                  object
dtype: object

In [4]:
df_agronet.shape  # Cantidad de filas y columnas
df_agronet.columns  # Nombres de las columnas
df_agronet.dtypes  # Tipos de datos de cada columna

Mercado                 object
Producto                object
Fecha                   object
Precio $/KG            float64
Fecha_limpia            object
Fecha_dt        datetime64[ns]
dtype: object

In [5]:
df_agronet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159433 entries, 0 to 159432
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Mercado       159433 non-null  object
 1   Producto      159433 non-null  object
 2   Fecha         159433 non-null  object
 3   Precio $/KG   159433 non-null  float64
 4   Fecha_limpia  159433 non-null  object
 5   Fecha_dt      159433 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 7.3+ MB

In [ ]:
#df_agronet['Fecha_limpia'] = df_agronet['Fecha'].str.split(',').str[-1].str.strip()
# Diccionario para traducir meses
#meses_es_en = {
#    'enero': 'January', 'febrero': 'February', 'marzo': 'March', 'abril': 'April',
#    'mayo': 'May', 'junio': 'June', 'julio': 'July', 'agosto': 'August',
#    'septiembre': 'September', 'octubre': 'October', 'noviembre': 'November', 'diciembre': 'December'
#}

# Convertir a min칰sculas y reemplazar
#df_agronet['Fecha_limpia'] = df_agronet['Fecha_limpia'].str.lower()
#for esp, eng in meses_es_en.items():
#    df_agronet['Fecha_limpia'] = df_agronet['Fecha_limpia'].str.replace(esp, eng, regex=False)

# Convertir a min칰sculas y reemplazar
#df_agronet['Fecha_limpia'] = df_agronet['Fecha_limpia'].str.lower()
#for esp, eng in meses_es_en.items():
#    df_agronet['Fecha_limpia'] = df_agronet['Fecha_limpia'].str.replace(esp, eng, regex=False)

#df_agronet['Fecha_dt'] = pd.to_datetime(df_agronet['Fecha_limpia'], format='%B %d de %Y', errors='coerce')

In [6]:
df_agronet.head()

,Mercado,Producto,Fecha,Precio $/KG,Fecha_limpia,Fecha_dt
0,Bogot치,Aguacate papelillo,"Viernes, Julio 15 de 2005",2200.0,July 15 2005,2005-07-15
1,Bogot치,Aguacate papelillo,"Viernes, Julio 22 de 2005",2340.0,July 22 2005,2005-07-22
2,Bogot치,Aguacate papelillo,"Viernes, Julio 29 de 2005",2355.0,July 29 2005,2005-07-29
3,Bogot치,Aguacate papelillo,"Viernes, Agosto 5 de 2005",2410.0,August 5 2005,2005-08-05
4,Bogot치,Aguacate papelillo,"Viernes, Agosto 12 de 2005",2410.0,August 12 2005,2005-08-12

In [10]:
#df_agronet.isnull().sum()
df_coomproriente.isnull().sum()
#eliminar nulos de la columna 'Precio'
df_coomproriente = df_coomproriente.dropna(subset=['Precio'])
df_coomproriente.isnull().sum()

Producto         0
Precio           0
Cantidad         0
Fecha            0
Origen           0
Kg               0
Precio_por_kg    0
Mercado          0
dtype: int64

In [11]:
df_agronet.describe(include='all')  # Incluye estad칤sticas para todos los tipos de columnas

,Mercado,Producto,Fecha,Precio $/KG,Fecha_limpia,Fecha_dt
count,159433,159433,159433,159433.000000,159433,159433
unique,4,44,1453,NaN,1453,NaN
top,Bogot치,Cebolla cabezona blanca,"Sabado, Junio 10 de 2023",NaN,June 10 2023,NaN
freq,52006,4900,152,NaN,152,NaN
mean,NaN,NaN,NaN,2142.209511,NaN,2013-06-14 11:38:37.003380480
min,NaN,NaN,NaN,44.000000,NaN,1997-01-30 00:00:00
25%,NaN,NaN,NaN,938.000000,NaN,2007-07-13 00:00:00
50%,NaN,NaN,NaN,1675.000000,NaN,2014-03-29 00:00:00
75%,NaN,NaN,NaN,2875.000000,NaN,2019-11-30 00:00:00
max,NaN,NaN,NaN,35000.000000,NaN,2025-05-17 00:00:00
std,NaN,NaN,NaN,1737.223588,NaN,NaN

In [12]:
df_agronet.columns = df_agronet.columns.str.strip().str.lower().str.replace(' ', '_')

In [13]:
df_agronet.head()

,mercado,producto,fecha,precio_$/kg,fecha_limpia,fecha_dt
0,Bogot치,Aguacate papelillo,"Viernes, Julio 15 de 2005",2200.0,July 15 2005,2005-07-15
1,Bogot치,Aguacate papelillo,"Viernes, Julio 22 de 2005",2340.0,July 22 2005,2005-07-22
2,Bogot치,Aguacate papelillo,"Viernes, Julio 29 de 2005",2355.0,July 29 2005,2005-07-29
3,Bogot치,Aguacate papelillo,"Viernes, Agosto 5 de 2005",2410.0,August 5 2005,2005-08-05
4,Bogot치,Aguacate papelillo,"Viernes, Agosto 12 de 2005",2410.0,August 12 2005,2005-08-12

In [14]:
mercados = df_agronet['mercado'].value_counts().reset_index()
mercados.columns = ['mercado', 'Cantidad de registros']
print("游늸 Mercados disponibles:\n")
print(mercados.to_string(index=False))

# Categor칤as 칰nicas en la columna 'Producto'
productos = df_agronet['producto'].unique()
print("Productos disponibles:", productos)

游늸 Mercados disponibles:

 mercado  Cantidad de registros
  Bogot치                  52006
   Tunja                  47217
 Duitama                  31192
Sogamoso                  29018
Productos disponibles: ['Aguacate papelillo ' 'Ajo     (Semanal | Mensual)' 'Arracacha amarilla '
 'Arveja verde en vaina ' 'Banano Urab치    (Semanal | Mensual)'
 'Cebolla cabezona blanca ' 'Cebolla cabezona roja    (Semanal | Mensual)'
 'Cebolla puerro    (Semanal | Mensual)'
 'Cilantro     (Semanal | Mensual)'
 'Durazno nacional    (Semanal | Mensual)'
 'Espinaca    (Semanal | Mensual)' 'Feijoa    (Semanal | Mensual)'
 'Fresa    (Semanal | Mensual)' 'Guan치bana    (Semanal | Mensual)'
 'Guayaba com칰n    (Semanal | Mensual)' 'Habichuela '
 'Lechuga crespa verde    (Semanal | Mensual)' 'Lim칩n tahit칤 ' 'Lulo '
 'Mandarina com칰n ' 'Mango de az칰car    (Semanal | Mensual)'
 'Mango com칰n    (Semanal | Mensual)' 'Mango tommy '
 'Manzana nacional    (Semanal | Mensual)'
 'Manzana roja importada    (Semanal | Mensual)'
 'Manzana verde importada    (Semanal | Mensual)' 'Maracuy치\xa0 '
 'Mel칩n cantalup    (Semanal | Mensual)' 'Mora de castilla '
 'Naranja com칰n     (Semanal | Mensual)' 'Naranja valencia '
 'Papa criolla limpia ' 'Papaya maradol ' 'Pepino cohombro '
 'Perejil    (Semanal | Mensual)' 'Piment칩n '
 'Pi침a gold    (Semanal | Mensual)' 'Remolacha '
 'Repollo verde regional    (Semanal | Mensual)' 'Tomate chonto '
 'Uchuva con c치scara    (Semanal | Mensual)'
 'Uva isabela    (Semanal | Mensual)'
 'Yuca llanera    (Semanal | Mensual)' 'Zanahoria ']

In [ ]:
# Diccionario de mapeo para estandarizar nombres de mercado
#reemplazos_mercado = {
#    'Duitama (Boyac치)': 'Duitama',
#    'Tunja (Boyac치)': 'Tunja',
#    'Sogamoso (Boyac치)': 'Sogamoso',
#    'Bogot치, D.C., Corabastos': 'Corabastos'
#}

# Reemplazar en la columna 'Mercado'
#df_agronet['mercado'] = df_agronet['mercado'].replace(reemplazos_mercado)

In [15]:
cantidad_productos = df_agronet['producto'].nunique()
print(f"游닍 Total de productos 칰nicos: {cantidad_productos}")

游닍 Total de productos 칰nicos: 44

In [25]:
productos_unicos = sorted(df_agronet['producto'].dropna().unique())
print("游닍 Lista de productos disponibles:\n")
for i, prod in enumerate(productos_unicos, start=1):
    print(f"{i}. {prod}")

游닍 Lista de productos disponibles:

1. Aguacate papelillo
2. Ajo     (Semanal | Mensual)
3. Arracacha amarilla
4. Arveja verde en vaina
5. Banano Urab치    (Semanal | Mensual)
6. Cebolla cabezona blanca
7. Cebolla cabezona roja    (Semanal | Mensual)
8. Cebolla puerro    (Semanal | Mensual)
9. Cilantro     (Semanal | Mensual)
10. Durazno nacional    (Semanal | Mensual)
11. Espinaca    (Semanal | Mensual)
12. Feijoa    (Semanal | Mensual)
13. Fresa    (Semanal | Mensual)
14. Guan치bana    (Semanal | Mensual)
15. Guayaba com칰n    (Semanal | Mensual)
16. Habichuela
17. Lechuga crespa verde    (Semanal | Mensual)
18. Lim칩n tahit칤
19. Lulo
20. Mandarina com칰n
21. Mango com칰n    (Semanal | Mensual)
22. Mango de az칰car    (Semanal | Mensual)
23. Mango tommy
24. Manzana nacional    (Semanal | Mensual)
25. Manzana roja importada    (Semanal | Mensual)
26. Manzana verde importada    (Semanal | Mensual)
27. Maracuy치
28. Mel칩n cantalup    (Semanal | Mensual)
29. Mora de castilla
30. Naranja com칰n     (Semanal | Mensual)
31. Naranja valencia
32. Papa criolla limpia
33. Papaya maradol
34. Pepino cohombro
35. Perejil    (Semanal | Mensual)
36. Piment칩n
37. Pi침a gold    (Semanal | Mensual)
38. Remolacha
39. Repollo verde regional    (Semanal | Mensual)
40. Tomate chonto
41. Uchuva con c치scara    (Semanal | Mensual)
42. Uva isabela    (Semanal | Mensual)
43. Yuca llanera    (Semanal | Mensual)
44. Zanahoria

In [24]:
productos_unicos_coompriente = sorted(df_coomproriente['Producto'].dropna().unique())
print("游닍 Lista de productos disponibles:\n")
for i, prod in enumerate(productos_unicos_coompriente, start=1):
    print(f"{i}. {prod}")

游닍 Lista de productos disponibles:

1. Aguacate Papelillo
2. Ajo
3. Arracacha Amarilla
4. Arveja Verde En Vaina
5. Banano Urab치
6. Cebolla Cabezona Blanca
7. Cebolla Cabezona Roja
8. Cebolla Larga
9. Cilantro
10. Durazno Nacional
11. Espinaca
12. Feijoba
13. Fresa
14. Frijol Verde
15. Guanabana
16. Guayaba
17. Habichuela
18. Limon Mandarino
19. Limon Tahit칤
20. Lulo
21. Mandarina
22. Mango Azucar
23. Mango Com칰n
24. Mango Tommy
25. Manzana Gloria
26. Manzana Nacional
27. Manzana Roja Importada
28. Manzana Verde Importada
29. Maracuy치
30. Mazorca
31. Melon
32. Mora De Castilla
33. Naranja Comun
34. Naranja Tanjelo
35. Naranja Valencia
36. Papa Criolla Limpia
37. Papa 칰Nica
38. Papaya Maradol
39. Pepino Cohombro
40. Pepino De Guiso
41. Pera Nacional
42. Perejil
43. Piment칩n
44. Pi침a Gold
45. Pl치tano Hart칩n Verde Llanero Grueso
46. Pl치tano Hart칩n Verde Llanero Parejo
47. Remolacha
48. Repollo Verde
49. Sandia
50. Sandia Baby
51. Tomate Cherri
52. Tomate Chonto
53. Tomate De Arbol Amarillo
54. Tomate De Rio
55. Uchuva
56. Uva Isabelita
57. Yuca Llanera
58. Zanahoria

In [18]:
# Eliminamos "(Semanal | Mensual)" y limpiamos espacios antes de mapear
df_agronet['Producto_limpio'] = (
    df_agronet['producto']
    .str.replace(r'\(Semanal\s*\|\s*Mensual\)', '', regex=True)
    .str.strip()
)

reemplazos = {
    "Aguacate papelillo": "Aguacate Papelillo",
    "Ajo": "Ajo",
    "Arracacha amarilla": "Arracacha Amarilla",
    "Arveja verde en vaina": "Arveja Verde En Vaina",
    "Banano Urab치": "Banano Urab치",
    "Cebolla cabezona blanca": "Cebolla Cabezona Blanca",
    "Cebolla cabezona roja": "Cebolla Cabezona Roja",
    "Cilantro": "Cilantro",
    "Durazno nacional": "Durazno Nacional",
    "Espinaca": "Espinaca",
    "Feijoa": "Feijoba",
    "Fresa": "Fresa",
    "Guan치bana": "Guanabana",
    "Guayaba com칰n": "Guayaba",
    "Habichuela": "Habichuela",
    "Lechuga crespa verde": "Lechuga Crespa Verde",
    "Lim칩n tahit칤": "Limon Tahit칤",
    "Lulo": "Lulo",
    "Mandarina com칰n": "Mandarina",
    "Mango com칰n": "Mango Com칰n",
    "Mango de az칰car": "Mango Azucar",
    "Mango tommy": "Mango Tommy",
    "Manzana nacional": "Manzana Nacional",
    "Manzana roja importada": "Manzana Roja Importada",
    "Manzana verde importada": "Manzana Verde Importada",
    "Maracuy치": "Maracuy치",
    "Mel칩n cantalup": "Melon",
    "Mora de castilla": "Mora De Castilla",
    "Naranja com칰n": "Naranja Comun",
    "Naranja valencia": "Naranja Valencia",
    "Papa criolla limpia": "Papa Criolla Limpia",
    "Papaya maradol": "Papaya Maradol",
    "Pepino cohombro": "Pepino Cohombro",
    "Perejil": "Perejil",
    "Piment칩n": "Piment칩n",
    "Pi침a gold": "Pi침a Gold",
    "Remolacha": "Remolacha",
    "Repollo verde regional": "Repollo Verde",
    "Tomate chonto": "Tomate Chonto",
    "Uchuva con c치scara": "Uchuva",
    "Uva isabela": "Uva Isabelita",
    "Yuca llanera": "Yuca Llanera",
    "Zanahoria": "Zanahoria"
}

In [19]:
# Aplicar el mapeo para homologar nombres
df_agronet['Producto_homologado'] = df_agronet['Producto_limpio'].replace(reemplazos)

# Mostrar ejemplo de cambios aplicados
df_agronet[['producto', 'Producto_limpio', 'Producto_homologado']].drop_duplicates().head(20)

,producto,Producto_limpio,Producto_homologado
0,Aguacate papelillo,Aguacate papelillo,Aguacate Papelillo
2994,Ajo (Semanal | Mensual),Ajo,Ajo
7741,Arracacha amarilla,Arracacha amarilla,Arracacha Amarilla
12539,Arveja verde en vaina,Arveja verde en vaina,Arveja Verde En Vaina
17385,Banano Urab치 (Semanal | Mensual),Banano Urab치,Banano Urab치
22258,Cebolla cabezona blanca,Cebolla cabezona blanca,Cebolla Cabezona Blanca
27158,Cebolla cabezona roja (Semanal | Mensual),Cebolla cabezona roja,Cebolla Cabezona Roja
28940,Cebolla puerro (Semanal | Mensual),Cebolla puerro,Cebolla puerro
30278,Cilantro (Semanal | Mensual),Cilantro,Cilantro
34986,Durazno nacional (Semanal | Mensual),Durazno nacional,Durazno Nacional
37546,Espinaca (Semanal | Mensual),Espinaca,Espinaca
42231,Feijoa (Semanal | Mensual),Feijoa,Feijoba
44716,Fresa (Semanal | Mensual),Fresa,Fresa
49306,Guan치bana (Semanal | Mensual),Guan치bana,Guanabana
53226,Guayaba com칰n (Semanal | Mensual),Guayaba com칰n,Guayaba
54258,Habichuela,Habichuela,Habichuela
59050,Lechuga crespa verde (Semanal | Mensual),Lechuga crespa verde,Lechuga Crespa Verde
59851,Lim칩n tahit칤,Lim칩n tahit칤,Limon Tahit칤
64555,Lulo,Lulo,Lulo
68835,Mandarina com칰n,Mandarina com칰n,Mandarina

In [20]:
df_agronet

,mercado,producto,fecha,precio_$/kg,fecha_limpia,fecha_dt,Producto_limpio,Producto_homologado
0,Bogot치,Aguacate papelillo,"Viernes, Julio 15 de 2005",2200.0,July 15 2005,2005-07-15,Aguacate papelillo,Aguacate Papelillo
1,Bogot치,Aguacate papelillo,"Viernes, Julio 22 de 2005",2340.0,July 22 2005,2005-07-22,Aguacate papelillo,Aguacate Papelillo
2,Bogot치,Aguacate papelillo,"Viernes, Julio 29 de 2005",2355.0,July 29 2005,2005-07-29,Aguacate papelillo,Aguacate Papelillo
3,Bogot치,Aguacate papelillo,"Viernes, Agosto 5 de 2005",2410.0,August 5 2005,2005-08-05,Aguacate papelillo,Aguacate Papelillo
4,Bogot치,Aguacate papelillo,"Viernes, Agosto 12 de 2005",2410.0,August 12 2005,2005-08-12,Aguacate papelillo,Aguacate Papelillo
...,...,...,...,...,...,...,...,...
159428,Sogamoso,Zanahoria,"Sabado, Mayo 10 de 2025",1650.0,May 10 2025,2025-05-10,Zanahoria,Zanahoria
159429,Sogamoso,Zanahoria,"Sabado, Mayo 17 de 2025",1713.0,May 17 2025,2025-05-17,Zanahoria,Zanahoria
159430,Duitama,Zanahoria,"Sabado, Mayo 17 de 2025",1600.0,May 17 2025,2025-05-17,Zanahoria,Zanahoria
159431,Bogot치,Zanahoria,"Sabado, Mayo 17 de 2025",2047.0,May 17 2025,2025-05-17,Zanahoria,Zanahoria
159432,Tunja,Zanahoria,"Sabado, Mayo 17 de 2025",1684.0,May 17 2025,2025-05-17,Zanahoria,Zanahoria

In [ ]:
#productos unicos homologados

In [22]:
# Crear un nuevo DataFrame con las columnas solicitadas y renombradas
df_agronet_final = df_agronet[["mercado", "precio_$/kg", "fecha_dt", "Producto_homologado"]].copy()

# Renombrar columnas con la primera letra en may칰scula
df_agronet_final.columns = ["Mercado", "Precio", "Fecha", "Producto"]

# Mostrar un ejemplo
df_agronet_final.head()

  Mercado  Precio      Fecha            Producto
0  Bogot치  2200.0 2005-07-15  Aguacate Papelillo
1  Bogot치  2340.0 2005-07-22  Aguacate Papelillo
2  Bogot치  2355.0 2005-07-29  Aguacate Papelillo
3  Bogot치  2410.0 2005-08-05  Aguacate Papelillo
4  Bogot치  2410.0 2005-08-12  Aguacate Papelillo

In [26]:
df_agronet_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159433 entries, 0 to 159432
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Mercado   159433 non-null  object
 1   Precio    159433 non-null  float64
 2   Fecha     159433 non-null  datetime64[ns]
 3   Producto  159433 non-null  object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 4.9+ MB

In [27]:
# Exportar el DataFrame df_agronet_final a un archivo Excel
output_path = "../Data/agronet_final.xlsx"
df_agronet_final.to_excel(output_path, index=False)

output_path

'../Data/agronet_final.xlsx'

In [31]:
# Mostrar productos 칰nicos del dataset df_agronet_final
productos_unicos_agronet_final = sorted(df_agronet_final['Producto'].dropna().unique())
print("游닍 Productos 칰nicos en df_agronet_final:\n")
for i, prod in enumerate(productos_unicos_agronet_final, start=1):
    print(f"{i}. {prod}")

游닍 Productos 칰nicos en df_agronet_final:

1. Aguacate Papelillo
2. Ajo
3. Arracacha Amarilla
4. Arveja Verde En Vaina
5. Banano Urab치
6. Cebolla Cabezona Blanca
7. Cebolla Cabezona Roja
8. Cebolla puerro
9. Cilantro
10. Durazno Nacional
11. Espinaca
12. Feijoba
13. Fresa
14. Guanabana
15. Guayaba
16. Habichuela
17. Lechuga Crespa Verde
18. Limon Tahit칤
19. Lulo
20. Mandarina
21. Mango Azucar
22. Mango Com칰n
23. Mango Tommy
24. Manzana Nacional
25. Manzana Roja Importada
26. Manzana Verde Importada
27. Maracuy치
28. Melon
29. Mora De Castilla
30. Naranja Comun
31. Naranja Valencia
32. Papa Criolla Limpia
33. Papaya Maradol
34. Pepino Cohombro
35. Perejil
36. Piment칩n
37. Pi침a Gold
38. Remolacha
39. Repollo Verde
40. Tomate Chonto
41. Uchuva
42. Uva Isabelita
43. Yuca Llanera
44. Zanahoria

In [33]:
productos_unicos_coomproriente = sorted(df_coomproriente['Producto'].dropna().unique())
print("游닍 Productos 칰nicos en df_coomproriente:\n")
for i, prod in enumerate(productos_unicos_coomproriente, start=1):
    print(f"{i}. {prod}")

游닍 Productos 칰nicos en df_coomproriente:

1. Aguacate Papelillo
2. Ajo
3. Arracacha Amarilla
4. Arveja Verde En Vaina
5. Banano Urab치
6. Cebolla Cabezona Blanca
7. Cebolla Cabezona Roja
8. Cebolla Larga
9. Cilantro
10. Durazno Nacional
11. Espinaca
12. Feijoba
13. Fresa
14. Frijol Verde
15. Guanabana
16. Guayaba
17. Habichuela
18. Limon Mandarino
19. Limon Tahit칤
20. Lulo
21. Mandarina
22. Mango Azucar
23. Mango Com칰n
24. Mango Tommy
25. Manzana Gloria
26. Manzana Nacional
27. Manzana Roja Importada
28. Manzana Verde Importada
29. Maracuy치
30. Mazorca
31. Melon
32. Mora De Castilla
33. Naranja Comun
34. Naranja Tanjelo
35. Naranja Valencia
36. Papa Criolla Limpia
37. Papa 칰Nica
38. Papaya Maradol
39. Pepino Cohombro
40. Pepino De Guiso
41. Pera Nacional
42. Perejil
43. Piment칩n
44. Pi침a Gold
45. Pl치tano Hart칩n Verde Llanero Grueso
46. Pl치tano Hart칩n Verde Llanero Parejo
47. Remolacha
48. Repollo Verde
49. Sandia
50. Sandia Baby
51. Tomate Cherri
52. Tomate Chonto
53. Tomate De Arbol Amarillo
54. Tomate De Rio
55. Uchuva
56. Uva Isabelita
57. Yuca Llanera
58. Zanahoria

In [34]:
# Encontrar productos con nombres exactamente iguales en ambos datasets
productos_agronet = set(df_agronet_final['Producto'].unique())
productos_coomproriente = set(df_coomproriente['Producto'].unique())

productos_iguales = sorted(productos_agronet & productos_coomproriente)
print("Productos con nombres exactamente iguales en ambos datasets:\n")
for i, prod in enumerate(productos_iguales, 1):
    print(f"{i}. {prod}")

Productos con nombres exactamente iguales en ambos datasets:

1. Aguacate Papelillo
2. Ajo
3. Arracacha Amarilla
4. Arveja Verde En Vaina
5. Banano Urab치
6. Cebolla Cabezona Blanca
7. Cebolla Cabezona Roja
8. Cilantro
9. Durazno Nacional
10. Espinaca
11. Feijoba
12. Fresa
13. Guanabana
14. Guayaba
15. Habichuela
16. Limon Tahit칤
17. Lulo
18. Mandarina
19. Mango Azucar
20. Mango Com칰n
21. Mango Tommy
22. Manzana Nacional
23. Manzana Roja Importada
24. Manzana Verde Importada
25. Maracuy치
26. Melon
27. Mora De Castilla
28. Naranja Comun
29. Naranja Valencia
30. Papa Criolla Limpia
31. Papaya Maradol
32. Pepino Cohombro
33. Perejil
34. Piment칩n
35. Pi침a Gold
36. Remolacha
37. Repollo Verde
38. Tomate Chonto
39. Uchuva
40. Uva Isabelita
41. Yuca Llanera
42. Zanahoria