In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\felipe\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\felipe\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 23.3.1 -> 25.1.1
[notice] To update, run: C:\Users\Felipe\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

df_coomproriente = pd.read_excel('../Data/Precios_Coomproriente_05_06_25.xlsx')
df_coomproriente.head()

             Producto    Precio           Cantidad      Fecha         Origen
0  Aguacate Papelillo  $ 10.000  Kilogramo - 50 Kg 2025-04-03  Coomproriente
1  Aguacate Papelillo  $ 10.000  Kilogramo - 50 Kg 2025-04-07  Coomproriente
2  Aguacate Papelillo  $ 10.000  Kilogramo - 50 Kg 2025-04-09  Coomproriente
3  Aguacate Papelillo  $ 11.000  Kilogramo - 50 Kg 2025-04-10  Coomproriente
4  Aguacate Papelillo  $ 10.000  Kilogramo - 50 Kg 2025-04-14  Coomproriente

In [3]:
df_agronet = pd.read_excel('../Data/datos_agronet.xlsx')
df_agronet.head()

      Mercado             Producto                       Fecha  Precio $/KG
0  Corabastos  Aguacate papelillo    Viernes, Julio 15 de 2005       2200.0
1  Corabastos  Aguacate papelillo    Viernes, Julio 22 de 2005       2340.0
2  Corabastos  Aguacate papelillo    Viernes, Julio 29 de 2005       2355.0
3  Corabastos  Aguacate papelillo    Viernes, Agosto 5 de 2005       2410.0
4  Corabastos  Aguacate papelillo   Viernes, Agosto 12 de 2005       2410.0

In [4]:
df_coomproriente.shape  # Cantidad de filas y columnas
df_coomproriente.columns  # Nombres de las columnas
df_coomproriente.dtypes  # Tipos de datos de cada columna

Producto            object
Precio              object
Cantidad            object
Fecha       datetime64[ns]
Origen              object
dtype: object

In [5]:
df_agronet.shape  # Cantidad de filas y columnas
df_agronet.columns  # Nombres de las columnas
df_agronet.dtypes  # Tipos de datos de cada columna

Mercado         object
Producto        object
Fecha           object
Precio $/KG    float64
dtype: object

In [6]:
df_agronet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163931 entries, 0 to 163930
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Mercado      163931 non-null  object
 1   Producto     163931 non-null  object
 2   Fecha        163931 non-null  object
 3   Precio $/KG  163931 non-null  float64
dtypes: float64(1), object(3)
memory usage: 5.0+ MB

In [7]:
df_agronet['Fecha_limpia'] = df_agronet['Fecha'].str.split(',').str[-1].str.strip()
# Diccionario para traducir meses
meses_es_en = {
    'enero': 'January', 'febrero': 'February', 'marzo': 'March', 'abril': 'April',
    'mayo': 'May', 'junio': 'June', 'julio': 'July', 'agosto': 'August',
    'septiembre': 'September', 'octubre': 'October', 'noviembre': 'November', 'diciembre': 'December'
}

# Convertir a min칰sculas y reemplazar
df_agronet['Fecha_limpia'] = df_agronet['Fecha_limpia'].str.lower()
for esp, eng in meses_es_en.items():
    df_agronet['Fecha_limpia'] = df_agronet['Fecha_limpia'].str.replace(esp, eng, regex=False)

# Convertir a min칰sculas y reemplazar
df_agronet['Fecha_limpia'] = df_agronet['Fecha_limpia'].str.lower()
for esp, eng in meses_es_en.items():
    df_agronet['Fecha_limpia'] = df_agronet['Fecha_limpia'].str.replace(esp, eng, regex=False)

df_agronet['Fecha_dt'] = pd.to_datetime(df_agronet['Fecha_limpia'], format='%B %d de %Y', errors='coerce')

In [8]:
df_agronet.head()

,Mercado,Producto,Fecha,Precio $/KG,Fecha_limpia,Fecha_dt
0,Corabastos,Aguacate papelillo,"Viernes, Julio 15 de 2005",2200.0,july 15 de 2005,2005-07-15
1,Corabastos,Aguacate papelillo,"Viernes, Julio 22 de 2005",2340.0,july 22 de 2005,2005-07-22
2,Corabastos,Aguacate papelillo,"Viernes, Julio 29 de 2005",2355.0,july 29 de 2005,2005-07-29
3,Corabastos,Aguacate papelillo,"Viernes, Agosto 5 de 2005",2410.0,august 5 de 2005,2005-08-05
4,Corabastos,Aguacate papelillo,"Viernes, Agosto 12 de 2005",2410.0,august 12 de 2005,2005-08-12

In [9]:
df_agronet.isnull().sum()

Mercado         0
Producto        0
Fecha           0
Precio $/KG     0
Fecha_limpia    0
Fecha_dt        0
dtype: int64

In [10]:
df_agronet.describe(include='all')  # Incluye estad칤sticas para todos los tipos de columnas

,Mercado,Producto,Fecha,Precio $/KG,Fecha_limpia,Fecha_dt
count,163931,163931,163931,163931.000000,163931,163931
unique,7,44,1453,NaN,1453,NaN
top,Sogamoso (Boyac치),Pepino cohombro,"Sabado, Junio 10 de 2023",NaN,june 10 de 2023,NaN
freq,29927,8996,156,NaN,156,NaN
mean,NaN,NaN,NaN,2112.957652,NaN,2013-06-12 15:25:13.229346560
min,NaN,NaN,NaN,44.000000,NaN,1997-01-30 00:00:00
25%,NaN,NaN,NaN,916.670000,NaN,2007-07-13 00:00:00
50%,NaN,NaN,NaN,1650.000000,NaN,2014-03-29 00:00:00
75%,NaN,NaN,NaN,2830.000000,NaN,2019-11-23 00:00:00
max,NaN,NaN,NaN,35000.000000,NaN,2025-05-17 00:00:00
std,NaN,NaN,NaN,1724.971302,NaN,NaN

In [11]:
df_agronet.columns = df_agronet.columns.str.strip().str.lower().str.replace(' ', '_')

In [12]:
df_agronet.head()

,mercado,producto,fecha,precio_$/kg,fecha_limpia,fecha_dt
0,Corabastos,Aguacate papelillo,"Viernes, Julio 15 de 2005",2200.0,july 15 de 2005,2005-07-15
1,Corabastos,Aguacate papelillo,"Viernes, Julio 22 de 2005",2340.0,july 22 de 2005,2005-07-22
2,Corabastos,Aguacate papelillo,"Viernes, Julio 29 de 2005",2355.0,july 29 de 2005,2005-07-29
3,Corabastos,Aguacate papelillo,"Viernes, Agosto 5 de 2005",2410.0,august 5 de 2005,2005-08-05
4,Corabastos,Aguacate papelillo,"Viernes, Agosto 12 de 2005",2410.0,august 12 de 2005,2005-08-12

In [13]:
mercados = df_agronet['mercado'].value_counts().reset_index()
mercados.columns = ['mercado', 'Cantidad de registros']
print("游늸 Mercados disponibles:\n")
print(mercados.to_string(index=False))

# Categor칤as 칰nicas en la columna 'Producto'
productos = df_agronet['producto'].unique()
print("Productos disponibles:", productos)

游늸 Mercados disponibles:

                 mercado  Cantidad de registros
       Sogamoso (Boyac치)                  29927
              Corabastos                  27020
Bogot치, D.C., Corabastos                  26436
          Tunja (Boyac치)                  24941
                   Tunja                  23602
        Duitama (Boyac치)                  20437
                 Duitama                  11568
Productos disponibles: ['Aguacate papelillo ' 'Ajo     (Semanal | Mensual)' 'Arracacha amarilla '
 'Arveja verde en vaina ' 'Banano Urab치    (Semanal | Mensual)'
 'Cebolla cabezona blanca ' 'Cebolla cabezona roja    (Semanal | Mensual)'
 'Cebolla puerro    (Semanal | Mensual)'
 'Cilantro     (Semanal | Mensual)'
 'Durazno nacional    (Semanal | Mensual)'
 'Espinaca    (Semanal | Mensual)' 'Feijoa    (Semanal | Mensual)'
 'Fresa    (Semanal | Mensual)' 'Guan치bana    (Semanal | Mensual)'
 'Guayaba com칰n    (Semanal | Mensual)' 'Habichuela '
 'Lechuga crespa verde    (Semanal | Mensual)' 'Lim칩n tahit칤 ' 'Lulo '
 'Mandarina com칰n ' 'Mango de az칰car    (Semanal | Mensual)'
 'Mango com칰n    (Semanal | Mensual)' 'Mango tommy '
 'Manzana nacional    (Semanal | Mensual)'
 'Manzana roja importada    (Semanal | Mensual)'
 'Manzana verde importada    (Semanal | Mensual)' 'Maracuy치\xa0 '
 'Mel칩n cantalup    (Semanal | Mensual)' 'Mora de castilla '
 'Naranja com칰n     (Semanal | Mensual)' 'Naranja valencia '
 'Papa criolla limpia ' 'Papaya maradol ' 'Pepino cohombro '
 'Perejil    (Semanal | Mensual)' 'Piment칩n '
 'Pi침a gold    (Semanal | Mensual)' 'Remolacha '
 'Repollo verde regional    (Semanal | Mensual)' 'Tomate chonto '
 'Uchuva con c치scara    (Semanal | Mensual)'
 'Uva isabela    (Semanal | Mensual)'
 'Yuca llanera    (Semanal | Mensual)' 'Zanahoria ']

In [14]:
# Diccionario de mapeo para estandarizar nombres de mercado
reemplazos_mercado = {
    'Duitama (Boyac치)': 'Duitama',
    'Tunja (Boyac치)': 'Tunja',
    'Sogamoso (Boyac치)': 'Sogamoso',
    'Bogot치, D.C., Corabastos': 'Corabastos'
}

# Reemplazar en la columna 'Mercado'
df_agronet['mercado'] = df_agronet['mercado'].replace(reemplazos_mercado)

In [15]:
cantidad_productos = df_agronet['producto'].nunique()
print(f"游닍 Total de productos 칰nicos: {cantidad_productos}")

游닍 Total de productos 칰nicos: 44

In [22]:
productos_unicos = sorted(df_agronet['producto'].dropna().unique())
print("游닍 Lista de productos disponibles:\n")
for i, prod in enumerate(productos_unicos, start=1):
    print(f"{i}. {prod}")

游닍 Lista de productos disponibles:

1. Aguacate papelillo
2. Ajo     (Semanal | Mensual)
3. Arracacha amarilla
4. Arveja verde en vaina
5. Banano Urab치    (Semanal | Mensual)
6. Cebolla cabezona blanca
7. Cebolla cabezona roja    (Semanal | Mensual)
8. Cebolla puerro    (Semanal | Mensual)
9. Cilantro     (Semanal | Mensual)
10. Durazno nacional    (Semanal | Mensual)
11. Espinaca    (Semanal | Mensual)
12. Feijoa    (Semanal | Mensual)
13. Fresa    (Semanal | Mensual)
14. Guan치bana    (Semanal | Mensual)
15. Guayaba com칰n    (Semanal | Mensual)
16. Habichuela
17. Lechuga crespa verde    (Semanal | Mensual)
18. Lim칩n tahit칤
19. Lulo
20. Mandarina com칰n
21. Mango com칰n    (Semanal | Mensual)
22. Mango de az칰car    (Semanal | Mensual)
23. Mango tommy
24. Manzana nacional    (Semanal | Mensual)
25. Manzana roja importada    (Semanal | Mensual)
26. Manzana verde importada    (Semanal | Mensual)
27. Maracuy치
28. Mel칩n cantalup    (Semanal | Mensual)
29. Mora de castilla
30. Naranja com칰n     (Semanal | Mensual)
31. Naranja valencia
32. Papa criolla limpia
33. Papaya maradol
34. Pepino cohombro
35. Perejil    (Semanal | Mensual)
36. Piment칩n
37. Pi침a gold    (Semanal | Mensual)
38. Remolacha
39. Repollo verde regional    (Semanal | Mensual)
40. Tomate chonto
41. Uchuva con c치scara    (Semanal | Mensual)
42. Uva isabela    (Semanal | Mensual)
43. Yuca llanera    (Semanal | Mensual)
44. Zanahoria

In [17]:
productos_unicos_coompriente = sorted(df_coomproriente['Producto'].dropna().unique())
print("游닍 Lista de productos disponibles:\n")
for i, prod in enumerate(productos_unicos_coompriente, start=1):
    print(f"{i}. {prod}")

游닍 Lista de productos disponibles:

1. Aguacate Papelillo
2. Ajo
3. Arracacha Amarilla
4. Arveja Verde En Vaina
5. Banano Urab치
6. Cebolla Cabezona Blanca
7. Cebolla Cabezona Roja
8. Cebolla Larga
9. Cilantro
10. Durazno Nacional
11. Espinaca
12. Feijoba
13. Fresa
14. Frijol Verde
15. Guanabana
16. Guayaba
17. Habichuela
18. Huevos AA
19. Huevos AAA
20. Lechuga Crespa Verde
21. Limon Mandarino
22. Limon Tahit칤
23. Lulo
24. Mandarina
25. Mango Azucar
26. Mango Com칰n
27. Mango Tommy
28. Manzana Gloria
29. Manzana Nacional
30. Manzana Roja Importada
31. Manzana Verde Importada
32. Maracuy치
33. Mazorca
34. Melon
35. Mora De Castilla
36. Naranja Comun
37. Naranja Tanjelo
38. Naranja Valencia
39. Panela
40. Papa Criolla Limpia
41. Papa 칰Nica
42. Papaya Maradol
43. Pepino Cohombro
44. Pepino De Guiso
45. Pera Nacional
46. Perejil
47. Piment칩n
48. Pi침a Gold
49. Pl치tano Hart칩n Verde Llanero Grueso
50. Pl치tano Hart칩n Verde Llanero Parejo
51. Remolacha
52. Repollo Verde
53. Sandia
54. Sandia Baby
55. Tomate Cherri
56. Tomate Chonto
57. Tomate De Arbol Amarillo
58. Tomate De Rio
59. Uchuva
60. Uva Isabelita
61. Yuca Llanera
62. Zanahoria

In [18]:
# Eliminamos "(Semanal | Mensual)" y limpiamos espacios antes de mapear
df_agronet['Producto_limpio'] = (
    df_agronet['producto']
    .str.replace(r'\(Semanal\s*\|\s*Mensual\)', '', regex=True)
    .str.strip()
)

reemplazos = {
    "Aguacate papelillo": "Aguacate Papelillo",
    "Ajo": "Ajo",
    "Arracacha amarilla": "Arracacha Amarilla",
    "Arveja verde en vaina": "Arveja Verde En Vaina",
    "Banano Urab치": "Banano Urab치",
    "Cebolla cabezona blanca": "Cebolla Cabezona Blanca",
    "Cebolla cabezona roja": "Cebolla Cabezona Roja",
    "Cilantro": "Cilantro",
    "Durazno nacional": "Durazno Nacional",
    "Espinaca": "Espinaca",
    "Feijoa": "Feijoba",
    "Fresa": "Fresa",
    "Guan치bana": "Guanabana",
    "Guayaba com칰n": "Guayaba",
    "Habichuela": "Habichuela",
    "Lechuga crespa verde": "Lechuga Crespa Verde",
    "Lim칩n tahit칤": "Limon Tahit칤",
    "Lulo": "Lulo",
    "Mandarina com칰n": "Mandarina",
    "Mango com칰n": "Mango Com칰n",
    "Mango de az칰car": "Mango Azucar",
    "Mango tommy": "Mango Tommy",
    "Manzana nacional": "Manzana Nacional",
    "Manzana roja importada": "Manzana Roja Importada",
    "Manzana verde importada": "Manzana Verde Importada",
    "Maracuy치": "Maracuy치",
    "Mel칩n cantalup": "Melon",
    "Mora de castilla": "Mora De Castilla",
    "Naranja com칰n": "Naranja Comun",
    "Naranja valencia": "Naranja Valencia",
    "Papa criolla limpia": "Papa Criolla Limpia",
    "Papaya maradol": "Papaya Maradol",
    "Pepino cohombro": "Pepino Cohombro",
    "Perejil": "Perejil",
    "Piment칩n": "Piment칩n",
    "Pi침a gold": "Pi침a Gold",
    "Remolacha": "Remolacha",
    "Repollo verde regional": "Repollo Verde",
    "Tomate chonto": "Tomate Chonto",
    "Uchuva con c치scara": "Uchuva",
    "Uva isabela": "Uva Isabelita",
    "Yuca llanera": "Yuca Llanera",
    "Zanahoria": "Zanahoria"
}

In [19]:
# Aplicar el mapeo para homologar nombres
df_agronet['Producto_homologado'] = df_agronet['Producto_limpio'].replace(reemplazos)

# Mostrar ejemplo de cambios aplicados
df_agronet[['producto', 'Producto_limpio', 'Producto_homologado']].drop_duplicates().head(20)

,producto,Producto_limpio,Producto_homologado
0,Aguacate papelillo,Aguacate papelillo,Aguacate Papelillo
2994,Ajo (Semanal | Mensual),Ajo,Ajo
7741,Arracacha amarilla,Arracacha amarilla,Arracacha Amarilla
12539,Arveja verde en vaina,Arveja verde en vaina,Arveja Verde En Vaina
17385,Banano Urab치 (Semanal | Mensual),Banano Urab치,Banano Urab치
22258,Cebolla cabezona blanca,Cebolla cabezona blanca,Cebolla Cabezona Blanca
27158,Cebolla cabezona roja (Semanal | Mensual),Cebolla cabezona roja,Cebolla Cabezona Roja
28940,Cebolla puerro (Semanal | Mensual),Cebolla puerro,Cebolla puerro
30278,Cilantro (Semanal | Mensual),Cilantro,Cilantro
34986,Durazno nacional (Semanal | Mensual),Durazno nacional,Durazno Nacional
37546,Espinaca (Semanal | Mensual),Espinaca,Espinaca
42231,Feijoa (Semanal | Mensual),Feijoa,Feijoba
44716,Fresa (Semanal | Mensual),Fresa,Fresa
49306,Guan치bana (Semanal | Mensual),Guan치bana,Guanabana
53226,Guayaba com칰n (Semanal | Mensual),Guayaba com칰n,Guayaba
54258,Habichuela,Habichuela,Habichuela
59050,Lechuga crespa verde (Semanal | Mensual),Lechuga crespa verde,Lechuga Crespa Verde
59851,Lim칩n tahit칤,Lim칩n tahit칤,Limon Tahit칤
64555,Lulo,Lulo,Lulo
68835,Mandarina com칰n,Mandarina com칰n,Mandarina

In [20]:
df_agronet

,mercado,producto,fecha,precio_$/kg,fecha_limpia,fecha_dt,Producto_limpio,Producto_homologado
0,Corabastos,Aguacate papelillo,"Viernes, Julio 15 de 2005",2200.0,july 15 de 2005,2005-07-15,Aguacate papelillo,Aguacate Papelillo
1,Corabastos,Aguacate papelillo,"Viernes, Julio 22 de 2005",2340.0,july 22 de 2005,2005-07-22,Aguacate papelillo,Aguacate Papelillo
2,Corabastos,Aguacate papelillo,"Viernes, Julio 29 de 2005",2355.0,july 29 de 2005,2005-07-29,Aguacate papelillo,Aguacate Papelillo
3,Corabastos,Aguacate papelillo,"Viernes, Agosto 5 de 2005",2410.0,august 5 de 2005,2005-08-05,Aguacate papelillo,Aguacate Papelillo
4,Corabastos,Aguacate papelillo,"Viernes, Agosto 12 de 2005",2410.0,august 12 de 2005,2005-08-12,Aguacate papelillo,Aguacate Papelillo
...,...,...,...,...,...,...,...,...
163926,Sogamoso,Zanahoria,"Sabado, Mayo 10 de 2025",1650.0,may 10 de 2025,2025-05-10,Zanahoria,Zanahoria
163927,Sogamoso,Zanahoria,"Sabado, Mayo 17 de 2025",1713.0,may 17 de 2025,2025-05-17,Zanahoria,Zanahoria
163928,Duitama,Zanahoria,"Sabado, Mayo 17 de 2025",1600.0,may 17 de 2025,2025-05-17,Zanahoria,Zanahoria
163929,Corabastos,Zanahoria,"Sabado, Mayo 17 de 2025",2047.0,may 17 de 2025,2025-05-17,Zanahoria,Zanahoria
163930,Tunja,Zanahoria,"Sabado, Mayo 17 de 2025",1684.0,may 17 de 2025,2025-05-17,Zanahoria,Zanahoria

In [21]:
# Crear un nuevo DataFrame con las columnas solicitadas y renombradas
df_agronet_final = df_agronet[["mercado", "precio_$/kg", "fecha_dt", "Producto_homologado"]].copy()

# Renombrar columnas con la primera letra en may칰scula
df_agronet_final.columns = ["Mercado", "Precio", "Fecha", "Producto"]

# Mostrar un ejemplo
df_agronet_final.head()

      Mercado  Precio      Fecha            Producto
0  Corabastos  2200.0 2005-07-15  Aguacate Papelillo
1  Corabastos  2340.0 2005-07-22  Aguacate Papelillo
2  Corabastos  2355.0 2005-07-29  Aguacate Papelillo
3  Corabastos  2410.0 2005-08-05  Aguacate Papelillo
4  Corabastos  2410.0 2005-08-12  Aguacate Papelillo

In [23]:
df_agronet_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163931 entries, 0 to 163930
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Mercado   163931 non-null  object
 1   Precio    163931 non-null  float64
 2   Fecha     163931 non-null  datetime64[ns]
 3   Producto  163931 non-null  object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 5.0+ MB

In [24]:
# Exportar el DataFrame df_agronet_final a un archivo Excel
output_path = "../Data/agronet_final.xlsx"
df_agronet_final.to_excel(output_path, index=False)

output_path

'../Data/agronet_final.xlsx'